*{
    margin:0;
    padding:0;
    
}
body{
    background: linear-gradient(rgb(42, 42, 99),rgb(53, 53, 161),rgb(79, 79, 239),rgb(143, 50, 183));
    transition: all 1.5s ease-out;
}
#heading1{
    text-align: center;
    font-weight: bold;
    font-size: 300%;
    color:rgb(137, 71, 71);
    padding-top: 2%;
}
.contentbg{
    width:100%;
    height:100vh;
    
    display: flex;
    
   
    align-items: center;
    justify-content: center;
}
.calculator{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(45, 40, 40),black,rgb(26, 23, 23),rgb(58, 28, 28),rgb(50, 2, 2));
    padding:10px;
    border-radius: 10px;

}
#display{
    background-color: #2e2e2e;
    box-shadow: 12px 12px 2px 1px rgba(104, 32, 6, 0.532);
    border-radius: 10px;
    border:none;
    outline:none;
    width:500px;
    height:100px;
    color:black;
    font-weight: bold;
    font-size: 45px;
    text-align: right;
    padding: 10px;
    padding-top: 20px;
    margin-bottom: 10px;

}
.allbuttons{
    display:flex;
    justify-content: center;
    width:100%;
    height:100%;
}
.mycol{
    display:flex;
    flex-direction: column;
}
.mybtn1{
    background-color: #7c7c7c;
    border-radius: 50%;
    
    background:linear-gradient(rgb(62, 156, 94),rgb(2, 10, 43),rgb(50, 103, 114));
    font-weight: bold;
    border:none;
    margin: 5px;
    color:white;
    /* animation: color-change2 1s infinite; */
    font-size: 25px;
    
    padding: 10px;
    margin-right: 30px;
    width: 70px;
    height: 70px;
}

.mybtn1:hover{
    background:linear-gradient(rgb(191, 152, 152),rgb(231, 143, 143),rgb(114, 50, 50));
    }
.mybtn2{
    background-color: #2e2e2e;
    border-radius: 50%;
    background:linear-gradient(rgb(62, 156, 94),rgb(14, 39, 150),rgb(50, 103, 114));
    border:none;
    /* animation: color-change 1s infinite; */
    margin: 5px;
    font-weight: bold;
    color:white;
    font-size: 25px;
    padding: 10px;
    margin-right: 30px;
    width: 70px;
    height: 70px;
    /* box-shadow: 3px 3px red; */
}
.mybtn2:hover{
    background:linear-gradient(rgb(191, 152, 152),rgb(231, 143, 143),rgb(114, 50, 50));
    }
.mybtn3{
    background-color: #edba00;
    border-radius: 50%;
    background:linear-gradient(rgb(218, 221, 47),rgb(203, 225, 58),rgb(65, 209, 40));
    /* animation: color-change1 1s infinite; */
    border:none;
    margin: 5px;
    font-weight: bold;
    color:white;
    font-size: 25px;
    padding: 10px;
    margin-right: 30px;
    width: 70px;
    height: 70px;
}
.mybtn3:hover{
    background:linear-gradient(rgb(191, 152, 152),rgb(231, 143, 143),rgb(114, 50, 50));
    }
.controlbuttons{
    display: flex;
    justify-content: space-between;
    width:80%;
}
.controlbuttons1{
    display: flex;
    justify-content: space-between;
    width:100%;
}

@keyframes color-change{
    0% {
        color:red;
    }
    10%{
        color:rgb(88, 19, 19);
    }
    
    30%{
        color:rgb(15, 15, 74)
    }
    
    
    70%{
        color:blueviolet;
    }
    100%{
        color:red;
    }
}
@keyframes color-change1{
    0% {
        color:black;
    }
    50%{
        color:rgb(88, 19, 19);
    }
    
   
    100%{
        color:rgb(29, 29, 224)
    }
}
@keyframes color-change2{
    0% {
        color:black;
    }
    25%{
        color:rgb(95, 95, 78)
    }
    50%{
        color:rgb(165, 166, 144);
    }
    75%{
        color:rgb(250, 255, 176)
    }
   
    
   
    100%{
        color:white;
    }
}
